html, body {
  height: 100%;
}

:focus {
  outline: none;
  box-shadow: none !important;
}

.ivu-layout {
  background-color: rgba(243, 247, 248, 1);
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt25 {
  margin-top: 25px;
}

.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb25 {
  margin-bottom: 25px;
}

.ml10 {
  margin-left: 10px;
}

.ml20 {
  margin-left: 20px;
}

.ml30 {
  margin-left: 30px;
}

.ml40 {
  margin-left: 40px;
}



.pt10 {
  padding-top: 10px;
}

.pt20 {
  padding-top: 20px;
}

.pt25 {
  padding-top: 25px;
}

.pb10 {
  padding-bottom: 10px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb25 {
  padding-bottom: 25px;
}

.pl10 {
  padding-left: 10px;
}

.pl20 {
  padding-left: 20px;
}

.pl30 {
  padding-left: 30px;
}

.pl40 {
  padding-left: 40px;
}




li {
  list-style: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/**侧边栏logo**/
.xdm_logo {
  width: 180px;
  height: 50px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  background-color: rgba(17, 36, 66, 1);
}

.xdm_logo > img {
  vertical-align: middle;
}

/**侧边栏个人信息**/
.sliderbar_personal {
  height: 98px;
  padding: 28px 25px 0 25px;
  background: url(../img/xdm_sliderbar_bj.jpg);
}

.sliderbar_personal li {
  display: inline-block;
  vertical-align: middle;
}

.sliderbar_personal_portrait {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.sliderbar_personal_information {
  margin-left: 10px;
  color: #FFFFFF;
}

.sliderbar_personal_information span {
  display: block;
  font-size: 12px;
}

/**侧边栏导航**/
.sliderbar .ivu-menu.ivu-menu-dark {
  height: 100%;
  overflow: hidden;
}

.sliderbar_iconbj {
  position: absolute;
  width: 40px;
  height: calc(100vh - 148px);
  background-color: rgba(12, 28, 51, 1);
  z-index: -1;
}

.sliderbar.ivu-layout-sider {
  background-color: rgba(17, 36, 66, 1);
}

.sliderbar .ivu-menu-dark {
  background-color: transparent;
}

.sliderbar .ivu-menu-vertical .ivu-menu-item, .sliderbar .ivu-menu-vertical .ivu-menu-submenu-title {
  padding: 10px 0px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4);
}

.sliderbar .ivu-menu .ivu-icon {
  width: 40px;
  width: 40px;
  text-align: center;
  margin-right: 0;
}

.sliderbar .ivu-menu-dark.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu), .sliderbar .ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title-active:not(.ivu-menu-submenu) {
  color: #FFFFFF;
  border-right: 2px solid rgba(255, 173, 0, 1);
  background-color: rgba(255, 173, 0, 1) !important;
}

.sliderbar .ivu-menu-dark.ivu-menu-vertical .ivu-menu-opened {
  background-color: rgba(31, 46, 75, 1);
}

.sliderbar .ivu-menu-dark.ivu-menu-vertical .ivu-menu-opened .ivu-menu-submenu-title {
  background-color: rgba(17, 36, 66, 1);
}

.sliderbar .ivu-menu-dark.ivu-menu-vertical .ivu-menu-child-item-active > .ivu-menu-submenu-title {
  color: rgba(255, 255, 255, 0.4);
}

.ivu-menu-submenu-has-parent-submenu .ivu-menu {
  position: fixed;
  background-color: red;
  top: 0px;
  left: 200px;
}

/*icon控制按钮*/
.icon-control {
  position: fixed;
  left: 164px;
  top: 8px;
  width: 32px;
  height: 30px;
  background: inherit;
  background-color: rgba(54, 76, 115, 1);
  border: none;
  border-radius: 2px;
  -webkit-box-shadow: 5px 5px 15px rgba(51, 51, 51, 0.349019607843137);
  box-shadow: 5px 5px 15px rgba(51, 51, 51, 0.349019607843137);
  z-index: 99999;
  cursor: pointer;
}

.icon-control:after {
  content: '';
  background: url(../img/icon-control.png) center center;
  width: 17px;
  height: 17px;
  display: inline-block;
  background-size: 100%;
  position: absolute;
  top: 7px;
  left: 7px;
}

/**头部导航**/
.header {
  border-bottom: 1px solid rgba(235, 235, 235, 1);
}

.header.ivu-layout-header {
  padding: 0;
  height: 50px;
  line-height: 50px;
}

/**输入框**/
.xdm_input .ivu-input:focus {
  border: none;
}

.xdm_input .ivu-input {
  border: none;
}

.xdm_input .ivu-input-icon {
  left: 0;
}

.xdm_input .ivu-input-icon-normal + .ivu-input {
  padding-left: 32px;
}

/**右侧**/
.header_bar {
  float: right;
  height: 50px;
}

.header_bar li {
  display: inline-block;
  padding: 0 26px;
  border-left: 1px solid rgba(235, 235, 235, 1);
  vertical-align: text-bottom;
  cursor: pointer;
}

.header_bar li span {
  font-size: 14px;
  color: #999;
  margin-left: 15px;
}

li.header_bar_last {
  height: 50px;
  padding: 0 36px;
}

/**页脚**/
footer {
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.45);
  margin: 30px 0;
}

/**容器通用**/
.manage_title {
  background-color: #FFFFFF;
  margin: 0 -27px 0 -27px;
  padding: 20px 0 20px 30px;
  border-bottom: 1px solid rgb(233, 233, 233);
}

.manage_title p {
  font-weight: 650;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.85);
  line-height: 28px;
  margin-top: 20px;
}

.top_nav_bar {
  background: #fff;
  margin: 0 -27px 0 -27px;
  /*padding: 20px 0 20px 30px;*/
  /*padding-left: 30px;*/
  border-bottom: 1px solid rgb(233, 233, 233);
}

.top_nav_bar li {
  float: left;
  color: #344c67;
  font-size: 16px;
  text-align: center;
  padding: 14px 36px;
  position: relative;
}

.top_nav_bar li.title {
  border-right: solid 1px #ddd;
  position: relative;
  padding: 14px 36px;
}

.top_nav_bar li.title img {
  width: 26px;
  height: 26px;
  position: absolute;
}

.top_nav_bar li.title span {
  margin-left: 18px;
  /*position: relative;*/
  /*top: -8px;*/
}

.top_nav_bar li.item {
  cursor: pointer;
}

.top_nav_bar li.item.current, .top_nav_bar li.item:hover {
  color: #5295e7;
}

.top_nav_bar li.item.current:after, .top_nav_bar li.item:hover:after {
  content: "";
  display: block;
  height: 4px;
  width: 100px;
  background: #5295e7;
  border-radius: 1px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -50px;
}

.container {
  /*padding: 30px 30px 100px 30px;*/
  padding: 30px 30px 30px 30px;
  background-color: #FFFFFF;
}

.content_title {
  font-weight: 650;
  font-style: normal;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.847);
  line-height: 24px;
}

.search_container::after {
  content: '';
  display: block;
  clear: both;
}

/*带整理部分*/
.check_nums {
  line-height: 40px;
  background-color: rgba(230, 247, 255, 1);
  border-color: rgba(186, 231, 255, 1);
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
  border-radius: 3px;
  padding-left: 40px;
}

.check_nums span {
  color: #009CCD;
  margin: 0 5px;
}

/*表单标签*/
.lable-title {
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.847);
  height: 30px;
  line-height: 30px;
  padding-right: 10px;
}

.footer_bottom {
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  background-color: #FFFFFF;
  position: fixed;
  bottom: 10px;
  right: 95px;
  width: 84%;
  text-align: right;
}

/*待整理部分结束*/

.articleDetailList {
  padding-bottom: 30px;
  position: relative;
}

.articleDetailList .delIcon {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

/*底部提交按钮组*/
.bottomBtn {
  height: 60px;
  line-height: 60px;
  margin-bottom: 100px;
  border-top: 1px solid #eeeeee;
  text-align: center;
}

/*图片上传*/
.demo-upload-list {
  display: inline-block;
  /*width: 60px;*/
  /*height: 60px;*/
  text-align: center;
  /*line-height: 60px;*/
  border: 1px solid transparent;
  border-radius: 4px;
  /*overflow: hidden;*/
  background: #fff;
  position: relative;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  margin-right: 4px;
}

.demo-upload-list img {
  width: 200px;
}

.demo-upload-list-cover {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .6);
}

.demo-upload-list:hover .demo-upload-list-cover {
  display: flex;
}

.demo-upload-list-cover i {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  margin: auto auto;
}

.copyArea {
  position: absolute;
  bottom: -68px;
}

.copyArea span.url {
  display: inline-block;
  width: 200px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  /*border: solid 1px #cccccc;*/
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.copyArea .copyBtn {
  display: block;
  text-align: center;
}

.backgroundWrap {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(55, 55, 55, .6);
  z-index: 99;
}

.dialog {
  position: relative;
  margin: 0 auto;
  width: 864px;
  height: 396px;
  top: 100px;
  z-index: 100;
  background: white;
  border-radius: 2% 2% 2% 2%;
}

.fieldUnit {
  position: absolute;
  top: 0;
  right: -24px;
}
.fieldPlus {
  position: absolute;
  top: 0;
  right: -24px;
}

.imgListBtn {
  width: 90px;
  height: 40px;
  margin-left: 20px;
  border: solid 1px #eeeeee;
  border-radius: 4px;
  padding: 4px 10px;
  cursor: pointer;
}

.float-wrap::after {
  content: '';
  display: block;
  clear: both;
}

.comment-tip {
  /*background: #fff0e7;*/
  background: rgba(45, 183, 245, .1);
  border-radius: 4px;
  line-height: 30px;
  margin-left: 10px;
  color: #666;
  padding: 0 15px;
  margin-bottom: 10px;
}

.tabBar {
  line-height: 30px;
  border: solid 1px rgba(59, 184, 223, 1);
  border-radius: 6px;
  display: inline-block;
}
.tabBar .item {
  /*width: .76rem;*/
  height: 100%;
  text-align: center;
  color: rgba(59, 184, 223, 1);
  padding: 0 .2rem;
  cursor: pointer;
}
.tabBar .item:first-child {
  border-radius: 6px 0 0 6px;
}
.tabBar .item:last-child {
  border-radius: 0 6px 6px 0;
}
.tabBar .item.active {
  background: rgba(59, 184, 223, 1);
  color: white;
}
.container-sub-title {
  font-size:16px;
  font-weight:bold;
  color:#333;
}

.specialItem:first-child {
  margin-left: 20px;
}
.itemLabel {
  color: rgba(170, 170, 170, 1);
  font-size: 14px;
  padding-right: 10px;
}
.itemValue {
  font-size: 14px;
  color: rgb(86,86,86);
}

/*表格开始*/
.table-wrap {
  width: 100%;
  outline: none;
  position: relative;
  font-size: 14px;
  color: #444;
  border: 1px #ccc solid;
}

/*.table-wrap.footer-table {*/
  /*border-left: none;*/
  /*border-right: none;*/
/*}*/

.table-head {
  padding-right: 17px;
  /*background-color: #eeeeee;*/
  background-color: #f5f5f5;
  border-bottom: 1px #ccc solid;
}

.grid {
  margin: 0px;
  table-layout: fixed;
  width: 100%;
  max-width: none;
  border-spacing: 0px;
  empty-cells: show;
  border-width: 0px;
  outline: 0px none;
  border-collapse: collapse;
}

.grid tr th {
  padding: 12px 25px;
  vertical-align: bottom;
  /*overflow: hidden;*/
  border-left: 1px #ccc solid;
  font-weight: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}

.grid tr th:first-child {
  border-left-width: 0;
}

.grid tr td {
  border-left: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
  padding: 9px 5px 9px 25px;
  overflow: hidden;
  line-height: 34px;
  vertical-align: middle;
  text-overflow: ellipsis;
  height:52px
}

.grid tr td:first-child {
  border-left-width: 0px;
}

.grid tr:last-child td {
  border-bottom: none;
}
/*表格结束*/



/*边框开始*/
.border {
  border: solid 1px #ccc;
}
.border-top {
  border-top: solid 1px #ccc;
}
.border-bottom {
  border-bottom: solid 1px #ccc;
}
.border-left {
  border-left: solid 1px #ccc;
}
.border-right {
  border-right: solid 1px #ccc;
}
/*边框结束*/

